/* @@@@@@@@@@@@@@@@@@@@ Cart @@@@@@@@@@@@@@@@@@@@ */

.l_wrapper {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  padding: 0 50px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.contentsCart {
  margin: 70px 0;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  height: 50px;
  border-top: 1px solid var(--color-gray-20);
  border-bottom: 1px solid var(--color-gray-20);
  box-sizing: border-box;
}

.cartTitle .cartProcuct {
  flex-basis: 480px;
}

.cartLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  flex-grow: 1;
}

.cartTitle .cartProcuct,
.cartTitle .cartQuantity,
.cartTitle .cartPrice {
  flex-grow: 0;
}

.cartCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  flex-shrink: 0;
}

.checkWidth {
  width: 100px;
  padding: 0;
  flex-grow: 0;
}

.cartTitle .cartCheck {
  width: 130px;
  padding: none;
}

.cartProcuct {
  flex-basis: 490px;
}

.cartPrice {
  width: 200px;
  font-weight: 700;
}

.cartQuantity {
  width: 150px;
  display: flex;
  gap: 10px;
}

.cartPriceNumber {
  display: flex;
}

.cartItem {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-20);
  padding: 1rem 0;
  box-sizing: border-box;
}

.cartItem:nth-last-of-type(1) {
  border-color: var(--color-black-10);
}

.cartItemInfo {
  display: flex;
  gap: 1rem;
  flex-basis: 500px;
  flex-grow: 1;
}

.cartItemCover {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.cartItemTitle {
  font-size: 14px;
}

.cartTotal {
  width: 100%;
}

.cartTotalTitle {
  font-size: 14px;
  color: var(--color-gray-30);
  line-height: 40px;
  padding-left: 10px;
  border-top: 1px solid var(--color-gray-30);
  border-bottom: 1px solid var(--color-gray-10);
}

.cartTotalPoint {
  color: var(--color-primary);
  font-weight: var(--fw-bold);
}

.cartTotalList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 50px 0;
  border-bottom: 1px solid var(--color-gray-30);
}

.cartTotalItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.cartTotalNum {
  font-size: 20px;
  font-weight: var(--fw-bold);
}

.cartTotalTxt {
  color: var(--color-gray-30);
}

.cartMore {
  text-decoration: underline;
  color: var(--color-primary);
  margin-top: 50px;
  cursor: pointer;
}

.contentsLogin {
  margin: auto 0;
}

.contentsHeaderLine {
  display: flex;
  align-items: center;
  width: 100%;
  flex-shrink: 1;
}

.cartButton {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 1.7rem 0;
}

.button {
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-black-30);
  border-color: var(--color-black-30);
  color: var(--color-white);
}

.buttonSmall {
  text-align: center;
  padding: 8px 0;
  box-sizing: border-box;
  font-size: 14px;
}

.buttonLarge {
  text-align: center;
  max-width: 500px;
  width: 100%;
  padding: 10px 0;
}

.btnNull {
  border: 2px solid var(--color-black-10);
  box-sizing: border-box;
}

.btnLayout {
  margin-top: 30px;
}

.typeBtnCart {
  padding: 4px 10px;
  border: 1px solid var(--color-gray-30);
}

.quantityButton {
  display: flex;

  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  cursor: pointer;
}

.typeCartBtn {
  width: 60px;
}

/* @@@@@@@@@@@@@@@@@@@@@@ taplet @@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 1024px) {
	.cartTitle .cartProcuct,
  .cartTitle .cartQuantity,
  .cartTitle .cartPrice {
    display: none;
  }

  .cartQuantity {
    order: 3;
  }
  .typeBtnCart {
    order: 3;
  }

  .cartItemInfo {
    display: block;
    width: 350px;
  }

  .cartItemTitle {
    margin-top: 20px;
  }

	.cartPriceNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .cartPrice {
    flex-basis: 0;
  }

  .cartQuantity {
    flex-basis: 0;
  }

  .cardCover.typeInfoCardCover {
    width: 360px;
    height: 360px;
  }

}

/* @@@@@@@@@@@@@@@@@@@@@@ mobile @@@@@@@@@@@@@@@@@@@@@@*/

@media (max-width: 768px) {
  .cartItemInfo {
    width: 300px;
  }

  .cartCheck,
  .cartTitle .cartCheck {
    width: 80px;
    font-size: 14px;
  }

  .cartItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .cartCheck {
    text-align: left;
    justify-content: flex-start;
  }
}