/* @@@@@@@@@@ MYPAGE - user-orderlist, seller-saleslist @@@@@@@@@@ */

.inner {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.user-info {
  background-color: var(--color-white);
  height: 170px;
  display: flex;
  gap: 30px;
  padding: 30px;
  box-sizing: border-box;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-cover {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}

.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.profile-type {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: capitalize;
  padding: 8px 12px;
  background-color: var(--color-black-10);
  width: 60px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
}

.profile-left > p > strong {
  font-weight: 700;
  font-size: 18px;
}

.profile-content-title {
  font-size: 24px;
}

.profile-content-desc {
  font-size: 18px;
}

.main-title {
  margin-top: 40px;
  padding-bottom: 8px;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  width: 100%;
}

.button-info-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-coverstory {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 70px;
}

.main-contents-title {
  font-size: 20px;
  font-weight: 600;
}

.main-content {
  max-width: 900px;
  width: 100%;
  color: var(--color-black-20);
}

.is_empty {
  color: var(--color-gray-30);
}

.empty-content {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.order-list {
  background-color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
}

.order-item-container {
  display: flex;
  padding-bottom: 10px;
  border-bottom: solid 1px var(--color-gray-10);
}

.order-header {
  display: flex;
  gap: 10px;
  width: 100%;
  font-size: 14px;
  color: var(--color-gray-30);
}

.order-number {
  font-weight: 700;
  color: var(--color-black-30);
}

.order-date {
  color: var(--color-gray-30);
  font-size: 14px;
  margin-left: auto;
  display: flex;
}

.date.type_gray {
  color: var(--color-gray-30);
  font-size: 14px;
}

.order-main {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  gap: 20px;
  box-sizing: border-box;
  border-bottom: solid 1px var(--color-gray-20);
}

.order-main-item-title {
  width: 110px;
  height: 110px;
  display: flex;
  overflow: hidden;
  align-items: center;
  overflow: hidden;
}

.order-main-item-desc {
  display: flex;
  width: 100%;
  height: 116px;
}

.order-main-item {
  flex-grow: 1;
}

.order-main-item-price {
  flex-basis: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-main-item-status {
  flex-basis: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @@@@@@@@@@@@@@@@@@@@ user-orderlist-arcodian-section @@@@@@@@@@@@@@@@@@@@ */

.accordion-header {
  cursor: pointer;
}

.accordion-contents {
  background-color: var(--color-white);
  /* display: none; */
}

.accordion-item.active .accordion-contents {
  display: block;
}

.order-detail {
  padding: 0 20px;
}

.order-detail-title {
  color: var(--color-gray-30);
  padding: 20px 0;
  border-bottom: solid 1px var(--color-gray-20);
}

.order-detail-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--color-gray-20);
}

.order-detail-items {
  display: flex;
}

.order-detail-item {
  flex-basis: 200px;
  color: var(--color-gray-30);
}

.order-footer {
  margin-top: 20px;
  padding: 0 20px;
}

.order-footer-title {
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--color-gray-20);
}

.order-footer-items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.order-footer-item.type_big {
  font-size: 24px;
}

.order-detail-item.type_gray {
  color: var(--color-gray-30);
}

.order-detail-close {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: solid 1px var(--color-gray-30);
}

/* @@@@@@@@@@@@@@@@@@@@ user, seller - wishlist @@@@@@@@@@@@@@@@@@@@ */

.review-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.review {
  height: 110px;
  padding: 1.2rem;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: var(--fw-regular);
  background-color: var(--color-gray-20);
  display: flex;
  flex-direction: column;
}

.review-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.review-content-desc {
  margin-top: 6px;
  font-weight: var(--fw-medium);
}

.review-content-time {
  font-weight: var(--fw-medium);
  color: var(--color-gray-30);
  font-size: 12px;
}

/* @@@@@@@@@@@@@@@@@@@@ user, seller - viewProfile @@@@@@@@@@@@@@@@@@@@ */

.profile-settings {
  padding: 30px;
  background-color: #fff;
  margin-top: 0.5rem;
}

.profile-setting {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: var(--fw-regular);
}

.profile-item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.profile-item-title {
  font-weight: var(--fw-medium);
  font-size: 18px;
  flex-basis: 250px;
}